<%= form_for(track) do |track_form| -%>
  <% if track.errors.any? %>
    <div id="error_explanation" class="span-19">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div><!-- id.error_explanation -->
  <% end %>

  <div class="success span-19 last">
    <div class="span-19 last">
      <p><%= track.tape.name %><br />
      <span class="quiet">(<%= track.tape.description %>)</span></p>
      <%= track_form.hidden_field :tapester_id %>
      <%= track_form.hidden_field :tape_id %>
    </div>
    <div class="field span-5">
      <%= track_form.label :name, "Track name" %><br />
      <%= track_form.text_field :name %>
    </div>
    <div class="field span-8">
      <%= track_form.label :url, "Track url" %><br />
      <%= track_form.text_field :url, :size => 50 %>
    </div>
    <div class="actions span-3 last">
      <%= track_form.submit("Update track") %>
    </div>
  </div>
<% end -%>
