<h1>Listing tracks</h1>

<table>
  <tr>
    <th>Tapester</th>
    <th>Tape</th>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= track.tapester.name %></td>
    <td><%= track.tape.name %></td>
    <td><%= track.name %></td>
    <td><%= track.url %></td>
    <td><%= link_to 'Show', track %></td>
    <td><%= link_to 'Destroy', track, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p>… and <%= @other_tracks_count %> other tracks, that 'aint yours.</p>
