<p>
  <b>Name:</b>
  <%= @tape.name %>
</p>

<p>
  <b>Description:</b>
  <%= @tape.description %>
</p>

<p>
  <b>Committed:</b>
  <%= committed_tapesters %>
</p>

<p>
  <b>Still to commit:</b>
  <%= uncommitted_tapesters %>
</p>

<% if @track %>
<div class="span-19 last">
  <p>Go on, commit:</p>
<%= render :partial => 'tracks/form', :locals => { :track => @track } %>
</div>
<% end %>


<%= link_to 'Back', tapes_path %>
