<p>
  <b>Name:</b>
  <%= @tape.name %>
</p>

<p>
  <b>Description:</b>
  <%= @tape.description %>
</p>

<p>
  <b>Commitment:</b>
  <%= committed_tapesters %>
</p>

<p>
  <b>Still to commit:</b>
  <%= uncommitted_tapesters %>
</p>


<%= link_to 'Back', tapes_path %>
