<p>
  <b>Name:</b>
  <%= @tapester.name %>
</p>

<div class="span-19 last">
<% @tracks.each do |track| -%>
<%   tape = track.tape -%>
<%   if tapester_at_home? -%>
<%= render :partial => 'tracks/form', :locals => { :track => track } %>
<%   else -%>
  <div class="span-10"><%= tape.name %>:</div><div class="span-9 last"><%= track.new_record? ? "<span class='embarrassing'>- nothing -</span>".html_safe : "Recorded" %></div>
<%   end -%>
<% end -%>
</div>

<div class="top-spacing span-19 last">
<h2>Frequently Asked Questions:</h2>
<dl>
  <dt>My track is <em>long</em>, and takes a while to get started… what can I do about that?</dt>
  <dd>You can tack a <code>#t=2m14s</code> (X<code>m</code>Y<code>s</code> = X minutes, Y seconds) onto the end of the track to make it start there, like <a href="http://www.youtube.com/watch?v=sT-d2kBn6fI#t=1m48s" target="blank" title="Ohh, Rick!">http://www.youtube.com/watch?v=sT-d2kBn6fI#t=1m48s</a>.</dd>
<% if tapester_signed_in? -%>
  <dt>You don't have any questions, <%= current_tapester.name %>, you're a old hand around these parts.</dt>
<%   if tapester_at_home? -%>
  <dd>(you could go back to <%= link_to "your page", tapester_path(current_tapester) %> and improve your offering, if you wanted to.)</dd>
<%   end -%>
<% elsif @tapester.encrypted_password.blank? -%>
  <dt>I <strong>am</strong> <%= @tapester.name %>, and I want to resolve the embarrassment of this paltry offering! How do I do that?</dt>
  <dd>
  Click <%= link_to "here", edit_tapester_password_path(@tapester, :reset_password_token => @tapester.reset_password_token) %>, child, and claim your identity!
  </dd>
<% else -%>
  <dt>I <strong>am</strong> <%= @tapester.name %>, and I want to sign in with the password I entered earlier! How do I do that?</dt>
  <dd>
  Click <%= link_to "here", tapester_session_path(:email => @tapester.email) %>, rappling, and resume your work!
  </dd>
<% end -%>
</dl>

<%= link_to 'Back', tapesters_path %>
</div>
