<!DOCTYPE html>
<html>
<head>
  <title>Mixtape</title>
  <%= stylesheet_link_tag "scaffold.css", "main.css" %>
  <%= stylesheet_link_tag "blueprint/screen.css" %>
  <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>
  <!–[if lt IE 8]>
    <link rel=”stylesheet” href=”stylesheets/blueprint/ie.css” type=”text/css” media=”screen, projection”>
  <![endif]–>
<%#  <%= javascript_include_tag :defaults +|%>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div class="header span-18">
      <h1>Mix tape night</h1>
    </div>
    <div class="header tapester span-5 last"><br clear="all" />
<% if tapester_signed_in? -%>
      <p>Welcome, <%= current_tapester.name %><br />
      … or, <%= link_to "logout", destroy_tapester_session_path %> if that 'aint you.</p>
<% elsif -%>
  <p><%= link_to "Login", tapester_session_path %>, or <%= link_to "claim your identity!", tapesters_path %></p>
<% end -%>
    </div>
    <div class="left-sidebar span-4">
      <ul>
        <li><%= link_to_unless_current "details", root_path %></li>
        <li><%= link_to_unless_current "tapes", tapes_path %></li>
        <li><%= link_to_unless_current "tapesters", tapesters_path %></li>
      </ul>
    </div>
    <div class="content span-19">
      <% unless notice.blank? %><p class="notice"><%= notice %></p><% end %>
      <% unless alert.blank? %><p class="alert"><%= alert %></p><% end %>
<%= yield %>
    </div><!-- div.content -->
  </div><!-- div.container -->
</body>
</html>
